@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Italiana&family=Scheherazade+New:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-size: 1em;
}

.body{
    @apply font-E_body md:text-4xl text-2xl font-bold
}
.title{
    @apply font-title md:text-s_lg text-sm
}
.main-container{
    @apply mt-6 m-4;
}
.my-container{
    @apply justify-items-center 
}
.my-img{
    @apply rounded-full grayscale hover:grayscale-0 transition-all duration-500 w-52 h-52 md:w-60 md:h-60 lg:w-80 lg:h-80
}


:root {
    --bg-color: #1a202c; /* Default background color */
    --hover-bg-color: #2d3748; /* Default hover background color */
    --text-color: #ffffff; /* Default text color */
    --blue-color: #63b3ed; /* Default blue color */
    --green-color: #68d391; /* Default green color */
    --yellow-color: #f6e05e; /* Default yellow color */
    --gray-color: #a0aec0; /* Default gray color */
    --heading-size: 1.5rem; /* Default heading size */
    --subheading-size: 1.25rem; /* Default subheading size */
    --paragraph-margin: 2rem; /* Default paragraph margin */
  }

/* Custom card class */
.card {
    @apply bg-gray-900 p-6 rounded-lg font-mono text-sm text-white transition-all duration-300;
  }

  /* Hover effect for the card */
  .card:hover {
    @apply bg-gray-800;
  }

  /* Custom text color classes */
  .text-blue-custom {
    @apply text-blue-400 hover:text-blue-300 transition-all duration-300;
  }
  .text-green-custom {
    @apply text-green-400 hover:text-green-300 transition-all duration-300;
  }
  .text-yellow-custom {
    @apply text-yellow-400 hover:text-yellow-300 transition-all duration-300;
  }
  .text-gray-custom {
    @apply text-gray-400 hover:text-gray-300 transition-all duration-300;
  }

  /* Custom heading classes */
  .main-heading {
    @apply text-white hover:text-2xl hover:font-bold transition-all duration-300;
  }
  .sub-heading {
    @apply text-white hover:text-xl hover:font-semibold transition-all duration-300;
  }

  /* Custom paragraph class */
  .paragraph {
    @apply text-white hover:mb-8 transition-all duration-300;
  }
  